ind2.olddream.tech {
        tls Y3JhenlwZWFjZQ@gmail.com
        encode gzip

        #    多用户 多path
        #    import Caddyfile.multiuser

        handle_path /01002e11bd6b {
                reverse_proxy localhost:49496
        }
        handle {
                reverse_proxy http://127.0.0.1:5244 {
                        trusted_proxies 0.0.0.0/0
                        header_up Host {upstream_hostport}
                }
        }
}

vocechat.olddream.tech {
        reverse_proxy http://127.0.0.1:3009 {
                header_up Host {host}
                header_up X-Real-IP {remote}
                header_up X-Forwarded_for {remote}
                flush_interval -1
        }
}
